* {
    padding: 0;
    margin: 0;
}

:root {
    --blue-dark: #1d3557;
    --blue-mid: #60abdd;
    --blue-light: #a8dadc;
    --grey: #f1faee;
    --red: #e63946;
}

.feature,
.testimonial-blockquote {
    @apply border-2 rounded border-blue-dark border-opacity-25 text-blue-dark;
}

.feature {
    height: 300px;
    width: 300px;
}

.feature-left {
    margin-left: auto;
}

.feature-right {
    margin-right: auto;
}

.damn-body {
    background: #0b1420;
}

.canvas-main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.down-button {
    position: absolute;
    //left: 50%;
    right: 50px;
    bottom: 100px;
    // transform: translateX(-50%);
    border-radius: 10px;
    background-color: #25252981;
    color: #ffffff;
    padding: 10px 30px;
}

.perspective-button {
    position: absolute;
    //left: 50%;
    right: 50px;
    bottom: 50px;
    // transform: translateX(-50%);
    border-radius: 10px;
    background-color: #25252981;
    color: #ffffff;
    padding: 10px 30px;
    cursor: pointer;
}

.section-wrapper {
    position: relative;
}

.section-full-height {
    position: relative;
    height: 100%;
    width: 100%;
}

.section-three {
    height: 300vh;
}